{{#each this}}
<li class="gallery_item">
    <div class="card__thumb">
        <img src="https://www.themoviedb.org/t/p/w500{{poster_path}}" alt="{{original_title}}" class="card__image">
        <div class="card__description">
            <h3 class="card__title">{{original_title}}</h3>
            <p class="card__text">{{genre_ids}} | {{release_date}}<span class="card__vote">{{vote_average}}</span></p>
        </div>
    </div>
</li>
{{/each}}